<ion-view view-title="Mi Perfil" hide-back-button="false">
  <div class="bar-header actionbar">
   <header class="header agroinsumos">
      <a href="#/home" class="anchor">
        <span class="anchor__left icon-left_line"></span>Regresar
      </a>
      <h1 class="title_perfil">Mi Perfil</h1>
    </header>
  </div>
  <ion-content class="gris">

    <div class="list paddingContent fontFrom ">
    
     
      <h4>Informacion  de la cuenta</h4>
      <p class="titleForm">Primer nombre:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.nombreCompleto">
      </label> 
      <br> 
      <p class="titleForm">Segundo nombre:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.nombre2">
      </label> 
      <br> 
      <p class="titleForm">Primer apellido :</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.apellido">
      </label> 
      <br> 
      <p class="titleForm">Segundo apellido:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.apellido2">
      </label> 
      <br> 

      <p class="titleForm">Correo electronico:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su correo electronico" ng-model="userModel.email"
              ng-disabled="userModel.email">
      </label> 
      <br>

      <h4>Informacion personal</h4>


      <p class="titleForm">Documento de identidad:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su documento" ng-model="userModel.documentId">
      </label> 
      <br>


      <p class="titleForm">Nivel educativo:</p>
      
      <div class="select" >
          <span class="arr"></span>
          <select ng-model="userModel.education" id="education">
            <option  ng-repeat="nivel in listaNivel" value="{{nivel.Id}}" ng-click="selectEducativo(nivel)">{{nivel.Nombre}}</option>
          </select>
      </div>
      <br>

      <!-- buscador municipios  -->
<!--       <p class="titleForm">Municipio de residencia  :</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Busque su Municipio" 
        ng-model="userModel.placeCity"
        ng-change="searchMunicipio()">
      </label> 
      <br> -->

    <!-- Lista de resultados de busqueda municipio-->
   <!--    <div class="list_result" ng-repeat="municipio in userModel.municipios"
      ng-click="selectMunicipio(municipio.Nombre,
        municipio.Departamento,municipio.Id)">

            <li class="item" >
              {{municipio.Nombre}} , {{municipio.Departamento}}
            </li>
      </div>
 -->


      <p class="titleForm">Direccion de residencia:</p>
        <label class="item item-input borderForm">
          <input type="text" placeholder="Ingrese su direccion de residencia" 
          ng-model="userModel.direccion">
        </label> 
      <br>



 
      <p class="titleForm">Genero:</p>
      <div class="select" >
          <span class="arr"></span>
          <select ng-model="userModel.genero">
            <option>Seleccione su género</option>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
      </div>
      <br>
 
       
      <p class="titleForm">Número celular:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su número celular" ng-model="userModel.cellPhone">
      </label> 
      <br>




       <!-- buscador municipios  -->
      <p class="titleForm">Municipio de residencia  :</p>
        <label class="item item-input borderForm">
          <input type="text" placeholder="Busque su Municipio de Produccion" 
          ng-model="userModel.municipio2"
          ng-change="searchMunicipio2()">
        </label> 
      <br>

    <!-- Lista de resultados de busqueda municipio-->
      <div class="list_result" ng-repeat="municipio in userModel.municipios2"
        ng-click="selectMunicipio2(municipio.Nombre,
        municipio.Departamento,municipio.Id)"
        ng-show="isMunicipio">

            <li class="item" >
              {{municipio.Nombre}} , {{municipio.Departamento}}
            </li>
      </div>



      <h4>Actividad Agropecuaria </h4>








      <p class="titleForm">Categoria del producto:</p>
      <div class="select" >
          <span class="arr"></span>
          <select ng-model="userModel.category">
            <option value="0">Seleccione una categoria</option>
            <option value="1">Fertilizantes</option>
            <option value="2">Medicamentos Veterinarios</option>
            <option value="3">Vacunas</option>
            <option value="4">Plaguicidas</option>
          </select>
      </div>
      <br>

      
      <p class="titleForm">Pertenece a una Asociacion</p>
      <div class="select" >
          <span class="arr"></span>
          <select ng-model="userModel.asociation">
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
      </div>
      <br> 


      <p class="titleForm">Ingrese su Asociacion</p>
        <label class="item item-input borderForm">
          <input type="text" placeholder="Si pertenece a una Asociacion por favor ingrese el nombre" 
          ng-model="userModel.asociation2">
        </label> 
      <br>




<!-- 
      <p class="titleForm">Producción principal:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.productionPricipal">
      </label> 
      <br>

      <p class="titleForm">Superficie cultivada:</p>
      <label class="item item-input borderForm">
        <input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.superfice">
      </label> 
      <br> -->
        <!-- ng-click="cleanStack()" -->
      <button class="button button-block button-balanced" ng-click="actualizarPerfil()" >
          Guardar
      </button >
      
      <center ng-click="showPopup()"
        class="textLogin textColorLogin" 
        ng-show="!existUser">
          <b ><u>Cambiar mi contraseña</u></b>
      </center>


    </div>
  </ion-content>
</ion-view>

