<ion-view view-title="" hide-back-button="false">
<!-- Header de login -->
  <!-- 	<div class=" bar-header actionbar">
		 <header class="header agroinsumos">
      <div class="internal-title__header with-scroll">
          <a href="#/home">
            <div class="go-back">
              <span class="go-back__icon titlebar"></span>
            </div>
      </a>
	          <div class="branding center" align="center">
	            <img src="img/logo_insumos.png" height="42" width="126">
	          </div>
       </div>     
	    </header>
	</div>
contenido de login -->


  <div class="bar-header actionbar">
   <header class="header agroinsumos">
      <a href="#/home" class="anchor">
        <span class="anchor__left icon-left_line"></span>Regresar
      </a>
  

    </header>
  </div>


  	<ion-content class="fontFromLogin">

    
    <div class="paddingContent" ng-if="!enviado">

      <div class="textLogin textColorLogin">
        Recupere su contraseña
      </div>

      <br>
 


      <form ng-submit="onSubmit(theForm.$valid)" name="theForm" novalidate="novalidate" >
         
        <p class="textColorLogin textLoginMin">Ingrese su actual contraseña:</p>
          <div class="row" style="padding: 0px;">
            
            <label class="col  passwordCreate item item-input "

            ng-class="{
            'borderForm': theForm.password.$valid && !theForm.$pristine,
            'borderFormError': !theForm.password.$valid && !theForm.$pristine,
            }"  

            >
              <input type="password" 
                placeholder=" Ingrese su contraseña"
                ng-model="recuperar.actual"  
                id="password"
                name="password"
                required="required"
                >
            </label>
          </div>

        <br>



         <p class="textColorLogin textLoginMin">Ingrese su nueva contraseña:</p>
          <div class="row" style="padding: 0px;">
            
            <label class="col  passwordCreate item item-input "

            ng-class="{
            'borderForm': theForm.password.$valid && !theForm.$pristine,
            'borderFormError': !theForm.password.$valid && !theForm.$pristine,
            }"  

            >
              <input type="password" 
                placeholder=" Ingrese su contraseña"
                ng-model="recuperar.password"  
                id="password"
                name="password"
                required="required"
                >
            </label>
          </div>

          <p 
            class="textColorLogin textLoginMin marginAuxTab" 
            ng-show="theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">
            Este campo es obligatorio
          </p>
          <br>


        <p class="textColorLogin textLoginMin">Confirme su nueva contraseña:</p>
          <div class="row" style="padding: 0px;">
            
            <label class="col  passwordCreate item item-input "

            ng-class="{
            'borderForm': theForm.password.$valid && !theForm.$pristine,
            'borderFormError': !theForm.password.$valid && !theForm.$pristine,
            }"  

            >
              <input type="password" 
                placeholder=" Ingrese su contraseña"
                ng-model="recuperar.passwordConfi"  
                id="password"
                name="password"
                required="required"
                >
            </label>
          </div>

          <p 
            class="textColorLogin textLoginMin marginAuxTab" 
            ng-show="theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">
            Este campo es obligatorio
          </p>
          <br>










          <button 
            type="submit"  
            class="button-balanced button button-block" ng-click="recuperarContrasena()" >Cambiar contraseña
          </button> 
          <br>
      </form >   
    </div>   


    <div class="paddingContent" ng-if="enviado"> 
        
      <div class="textLogin textColorLogin">
        <strong> 
          Hemos enviado un correro de <br>confirmacion 
        </strong>
      </div>

      <br>
      <br>
      <br>

      <div class="textLogin textColorLogin">
        En el correo encontrara un link para <br>restaurar su contraseña.
      </div>
      <br>
      <br>
      <br>

      <div class="textLogin textColorLogin">
        Asegurese que el correo no haya  <br> llegado a la carpeta de spam.
      </div>
       
       <br>
        <br>
        <br>
      
      <a href="#/login">
        <button 
            class="button-balanced button button-block"  >Continuar
        </button> 
      </a>
    </div>





  </ion-content>

</ion-view>