<ion-view view-title="Mi perfilllll" hide-back-button="false" >

  <ion-tabs class="tabs-top tabs-color-active-positive">

      <!-- opciones -->
      <ion-tab title="Opciones" href="#/tab/opciones">
        <ion-nav-view name="tab-opciones"></ion-nav-view>
      </ion-tab>

      <!-- sugerencias -->
      <!-- <ion-tab title="Sugerencias"  href="#/tab/sugerencias">
          <ion-nav-view name="tab-sugerencias"></ion-nav-view>
      </ion-tab> -->

  </ion-tabs>
</ion-view>

<!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/tab/opciones">
        
        Test
        <ion-nav-view name="tab-opciones"></ion-nav-view>
      </a>
      <a class="tab-item" href="#/tab/sugerencias">

        Favosrite
        <ion-nav-view name="tab-sugerencias"></ion-nav-view>
      </a>
    </div>
  </div> -->