 <ion-view view-title=" Fertilizantes"  hide-back-button="false">

<div class="bar-header actionbar">
	 <header class="header agroinsumos">
        <div class="internal-title__header with-scroll">
          <a href="#/home">
            <div class="go-back">

              <img src="img/regresar.JPG" height="42" width="26">&nbsp; &nbsp; &nbsp;
              <span class=" titlebar">
                {{nameCategoria}}
              </span>
            </div>
          </a>
        </div> 
    </header>
</div> 
<ion-content ng-controller="categoriaCtrl">
	<div class="search__input">

      <span class="icon icon-search" ng-if="!searchLoadingFertilizante"></span>
            <span class="icon"><ion-spinner icon="ios" ng-if="searchLoadingFertilizante"></ion-spinner></span>

   <input type="search" placeholder="Buscar" ng-change="searchInCategoria()" ng-model="data.searchInCategoria">
  </div>
    
 <!-- Lista de resultados de busqueda -->
        <!-- Lista de resultados de busqueda -->
        <div class="list_result" ng-repeat="airline in data.airlines">
          <figure class="internal-title__body__prof">
            <a href="#" 
            ng-click="goToInsumo({{airline.IdInsumo}}, {{airline.IdGeografia}}, {{airline.IdPresentacionProducto}})">
              <li class="item" >
                <img src="img/{{imgCategoria}}.png" alt="">
                {{airline.NombreInsumo}} 
                <small class="fontSmall">
                  {{airline.Cantidad}} {{airline.UnidadPresentacion}}<!-- {{airline.IdInsumo}} {{airline.CategoriaId}} -->
                </small>
              </li>
            </a>
          </figure>
        </div>
 



  <!-- Geolocalizacion  -->
	<!-- buscador municipios  -->
          <div class="cont-select">
            <div class="select">
 <div class="item item-input borderForm" style="font-family: ubuntubold sans-serif;margin-left: 2px;margin-right: 2px" >
             <i class="icon ion-search placeholder-icon" ng-if="!searchLoadingMunicipioFertilizante"></i>

    
             <ion-spinner icon="ios" ng-if="searchLoadingMunicipioFertilizante"></ion-spinner>

             <input type="text" placeholder="Seleccionar Municipio"  ng-model="municipioDefaul.busqueda" ng-change="searchMunicipio()"class="item item-input borderForm" style="font-family: ubuntubold sans-serif;margin-top: 3px">
                 
         </div>

              <!--label class="item item-input borderForm busquedaMunDetail">

        
                <input type="text" 
                ng-model="municipioDefaul.busqueda"
                ng-change="searchMunicipio()"
                placeholder="Municipio">
                  </label--> 

            </div>
          </div>

        
          <!-- Lista de resultados de busqueda municipio-->
            <div class="list_result" ng-repeat="municipio in municipioDefaul.municipios"
            ng-click="selectMunicipio(municipio.Nombre,
              municipio.Departamento,municipio.IdMunicipio_, municipio.IdDepartamento )">

                  <li class="item" >
                    {{municipio.Nombre}} , {{municipio.Departamento}}
                  </li>
            </div>






	<a href="#/addprecio" ng-if="isLog">
	 <button class="btn btn-primary btn-green btn-plus-b">Añadir precio</button>
	</a>
 
	<div align="center" >
      <p class="title_loginn">
          Los precios a continuación mostrados estan  regidos por el Decreto 1071 de 2015, </br>Decreto Único Reglamentario del Sector Administrativo Agropecuario,</br> Pesquero y de Desarrollo Rural.</br>
           <a href="https://www.minagricultura.gov.co/Normatividad/Paginas/Decreto-1071-
2015/Decreto-1071-de-2015.aspx
"> <strong><u>Conocer más </u></strong></a>
      </p>
    </div>
    
	<section class="cont-agroinsumos" ng-repeat="insumo in insumos">
        <header class="cont-agroinsumos__header">
          <h4 class="cont-agroinsumos__header__title">
            {{insumo.NombreInsumo}} &nbsp;
            <small class="fontSmallCategoria"> 
              {{insumo.Cantidad}}  
              {{insumo.UnidadPresentacion}} 
            </small> 
          </h4>
          </h4>


          <div class="{{insumo.starFav}}" ng-click="actionFavorite(insumo)">
            <span class="fontFavorite"></span>
          </div>
          <!-- <span class="icon-star_line" ng-click="actionFavorite(data)"></span> -->
        </header>
        <!--p class="ubuntu medium">
      	 Costo promedio Municipal
        </p--> 
        <div class="cont-agroinsumos__body">
          <div class="articles__third__header__cost">
            <!--h1 class="main">
             ${{insumo.CostoPromdedioMunicipal | toCop }}
            </h1-->
           <p class="national main">
              <span>Costo Promedio Municipal</span>
              <span>${{insumo.CostoPromdedioMunicipal | toCop}}</span>
            </p>

            <p class="national">
              <span>Costo Promedio Nacional</span>
              <span>${{insumo.PromedioNacional | toCop }}</span>
            </p>
            <p class="departmental">
              <span>Costo promedio departamental</span>
              <span>${{insumo.CostoDepartamental | toCop}}</span>
            </p>
          </div>
  
    <!-- pasamos los ids del insumo para consumir el servicio -->
		      <button class="btn btn-primary btn-green" 
    ng-click="goToInsumo(insumo.IdInsumo, insumo.IdGeografia, insumo.IdPresentacionProducto)"
          >
		        Ver mas
		      </button>
	<!--       </a> -->
        </div>
  </section>
<!--   <ion-infinite-scroll icon="ripple" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="2"></ion-infinite-scroll> -->
</ion-content>
</ion-view>