<ion-view view-title="Mi Perfil s" hide-back-button="false">
<div class="bar-header actionbar">
   <header class="header agroinsumos">
      <div class="internal-title__header with-scroll">
          <a href="#/home">
            <div class="go-back">

              <img src="img/regresar.JPG" height="42" width="26">&nbsp; &nbsp; &nbsp;
              <span class=" titlebar">
                Regresar
              </span>
            </div>
          </a>  

          <div class="add-favorite">

           <div class="" ng-click="actionFavorite(detalleInsumo)">
            <img src="img/{{starFav}}.JPG" height="26" width="26">
              <span class="fontFavorite"></span>{{titleFavorito}}
           </div> 
          </div>  
      </div>
    </header>    
</div>  
  <ion-content class="gris" ng-controller="insumoCtrl">
	<div class="internal-title__body int_insumo">
	    <figure class="internal-title__body__prof">
	      <img src="img/{{imgCategoria}}.png">
	      <span>{{nameCategoria}}</span>
	    </figure>
	    <div class="title_insumo"> 
	      <h1 class="">
          {{detalleInsumo.NombreInsumo}}  
          <small class="fontInsumito">
           {{detalleInsumo.Cantidad}} 
           {{detalleInsumo.UnidadPresentacion}}
          </small>
        </h1>
		  <p class="">
		    Los precios corresponden al {{detalleInsumo.Fecha}}. El decreto 1071 de 2015, establece que la información cuenta con un rezago de 2 meses.
		  </p>
	    </div>
	</div>

	<div class="articles__third">
            <header class="articles__third__header">
              <span class="articles__third__header__average">
                Costo promedio en:
              </span>

              <!-- buscador municipios  -->
              <div class="cont-select">
                <div class="select">
                  <label class="item item-input borderForm busquedaMunDetail">
                    <input type="text" 
                    ng-model="municipioDefaul.busqueda"
                    ng-change="searchMunicipio()">
                    <!-- <input type="search" placeholder="Buscar" ng-change="search()" ng-model="data.search"/> -->
                  </label> 
                </div>
              </div>

            
              <!-- Lista de resultados de busqueda municipio-->
                <div class="list_result" ng-repeat="municipio in municipioDefaul.municipios"
                ng-click="selectMunicipio(municipio.Nombre,
                  municipio.Departamento,municipio.Id)">

                      <li class="item" >
                        {{municipio.Nombre}} , {{municipio.Departamento}}
                      </li>
                </div>
             


              <div class="articles__third__header__cost">
                <!--h1 class="main">
                  ${{detalleInsumo.CostoPromdedioMunicipal | toCop}}
                </h1-->
   
                <p class="national main">
                  <span>Costo promedio municipal</span>
                  <span>${{detalleInsumo.CostoPromdedioMunicipal | toCop}}</span>
                </p>

                <p class="national">
                  <span>Costo promedio nacional</span>
                  <span>${{detalleInsumo.PromedioNacional | toCop}}</span>
                </p>
                <p class="departmental">
                  <span>Costo promedio departamental</span>
                  <span>${{detalleInsumo.CostoDepartamental | toCop}}</span>
                </p>
              </div>
             
              <button ng-if="isLog" class="btn btn-primary btn-green btn-plus-a" ng-click="goToAddPrecio()">Añadir precio</button>
          	
            </header>


            <!-- listas desplegables -->
            <div class="list">
              <!-- Marcas -->
              <div class="item item-divider" ng-click="desplegar(1)">
                Marcas disponibles en el mercado
              </div>

              <a href="" class="item" ng-if="desplegado1" 
              ng-repeat="marca in detalleInsumo.Marcas">
                {{detalleInsumo.NombreInsumo}}
                <br>
                {{marca.NombreMarca}}
                
              </a>
              
              <!-- Puntos de venta -->
              <div class="item item-divider" ng-click="desplegar(2)">
                Precios en Puntos de venta
              </div>

              <a href="" class="item" ng-if="desplegado2"
              ng-repeat="punto in detalleInsumo.PuntosDeVentas">
                <b>{{punto.Nombre}}</b><br>
                <h4>
                Descripción: {{punto.Descripcion}}<br>
                </h4>


                <h4 ng-repeat="prec in punto.Precios">
                  Precio Reportado: {{prec.Precio | currency : symbol : 0}}
                </h4>

          
              </a>
             
              <!-- Historico -->
              <div class="item item-divider" ng-click="desplegar(3)">
                Historico
              </div>

              <a href="" class="item" ng-if="desplegado3"
              ng-repeat="historico in detalleInsumo.Historicos">
                {{historico.FechaText}}
                <br>
                ${{historico.Precio | toCop}}
              </a>
            </div>  


            <footer class="articles__first__footer">
              <p class="articles__first__footer__util small">
                ¿Le fue util esta información?
              </p>
             
                <button class="{{stateButtonYes}}" ng-click="yea(true)">Si</button>
             
              
               <button class="{{stateButtonNo}}" ng-click="yea(false)">No</button>
             
              <br>
              <br>
              <br>
              <br>
              <a href="#" class="anchor" ng-click="share(detalleInsumo.NombreInsumo,
              detalleInsumo.PromedioNacional, detalleInsumo.Cantidad, detalleInsumo.UnidadPresentacion)">
                Compartir<span class="anchor__right icon-share" ></span>
              </a>

              <br>
              <br>
              <br>
              <br>
            </footer>
          </div>
  </ion-content>
</ion-view>

