<ion-view view-title=" Fertilizantes"  hide-back-button="false">

<div class="bar-header actionbar">
	 <header class="header agroinsumos">
        <div class="internal-title__header with-scroll">
          <a href="#/home">
            <div class="go-back">
              <img src="img/regresar.JPG" height="42" width="26">&nbsp; &nbsp; &nbsp;
              <span class=" titlebar">Mis Favoritos</span>
            </div>
          </a>
        </div> 
    </header>
</div>
<ion-content >
	<div class="search__input">
   <span class="icon icon-search"></span>
   <input type="search" placeholder="Buscar" ng-change="searchInCategoria()" ng-model="data.searchInCategoria">
  </div>
  
 <!-- Lista de resultados de busqueda -->
     <!--    <div class="list_result" ng-repeat="airline in data.airlines">
          <figure class="internal-title__body__prof">
            <a href="#/insumo" ng-click="pasId({{airline.IdInsumo}})">
              <li class="item" >
                <img src="img/{{imgCategoria}}.png" alt="">
                {{airline.NombreInsumo}} 
                <small class="fontSmall">
                  {{airline.Cantidad}} {{airline.UnidadPresentacion}}
                   --><!-- {{airline.IdInsumo}} {{airline.CategoriaId}} -->
      <!--           </small> 
              </li> 
            </a>
          </figure>
        </div>
 -->

 
	<section class="cont-agroinsumos" ng-repeat="insumo in favoritos">
        <header class="cont-agroinsumos__header">
          <h4 class="cont-agroinsumos__header__title">
            {{insumo.NombreInsumo}} 
            <small class="fontSmallCategoria"> 
              {{insumo.Cantidad}} 
              {{insumo.UnidadPresentacion}} 
            </small> 
          </h4>
          </h4>
          <div class="{{iconFavorite}}" ng-click="actionFavorite()">
            <span class="fontFavorite" ></span>
          </div>
          <!-- <span class="icon-star_line" ng-click="actionFavorite(data)"></span> -->
        </header>
        <p class="ubuntu medium">
      	 Costo promedio Municipal
        </p> 
        <div class="cont-agroinsumos__body">
          <div class="articles__third__header__cost">
            <h1 class="main">
              ${{insumo.CostoPromdedioMunicipal | number:0}}
            </h1>
            <p class="national">
              <span>Costo nacional</span>
              <span>${{insumo.PromedioNacional | number:0}}</span>
            </p>
            <p class="departmental">
              <span>Costo departamental</span>
              <span>${{insumo.CostoDepartamental | number:0}}</span>
            </p>
          </div>
  
    <!-- pasamos los ids del insumo para consumir el servicio -->
		      <button class="btn btn-primary btn-green" 
             ng-click="goToInsumo(insumo.IdInsumo, insumo.IdGeografia, insumo.IdPresentacionProducto)"
          >
		        Ver mas
		      </button>
	<!--       </a> -->
        </div>
  </section>
<!--   <ion-infinite-scroll icon="ripple" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="2"></ion-infinite-scroll> -->
</ion-content>
</ion-view>