<ion-view class="startFont">
 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

    <div class="startImage"></div>
    <p class="startText">
      Politicas de privacidad
    </p>
    
    <p class="startTextJustify">
    Agronet se compromete a salvaguardar la privacidad de la información personal del Usuario obtenida a través de la página Web de la entidad, para lo cual adopta una política de confidencialidad de acuerdo con lo que se establece más adelante. 
    <br><br>
Se entiende por información personal aquella suministrada por el Usuario para el registro, la cual incluye datos como nombre, identificación, edad, género, dirección, correo electrónico y teléfono.
<br><br>
El Usuario reconoce que el ingreso de información personal, lo realiza de manera voluntaria y ante la solicitud de requerimientos específicos por Agronet para realizar un trámite, presentar una queja o reclamo, o para acceder a los mecanismos interactivos, entre los que se encuentra el Foro.
<br><br>
Con ocasión de un trámite o servicio desarrollado por medios Electrónicos, la Entidad podrá solicitar información a los Usuarios del Sitio Web y la tratara con todas las garantías legales y de seguridad que impone la Constitución Política, las normas aplicables a la protección de datos de carácter personal y demás normas concordantes. La solicitud de información se hace siempre para que el Usuario la suministre de manera voluntaria.
<br><br>
Agronet se compromete a no ceder, vender, ni a compartir los datos recibidos en el Sitio Web con terceros sin su aprobación expresa. Las entidades adscritas no se considerarán terceros para estos efectos. Así mismo, Agronet cancelará o rectificará los datos cuando resulten inexactos, incompletos o hayan dejado de ser necesarios o pertinentes para su finalidad.
<br><br>
El Usuario Registrado se compromete a notificar a la Cámara de Comercio de Bogotá, en forma inmediata y por medio fehaciente, cualquier uso no autorizado de su clave.
    </p>



  </center>
    

  </ion-content>
 
  <!--div class="launchsInsumo">
        <span class="small" align="center"><center>Los precios a continuación mostrados estan regidos por el Decreto 1071 de 2015. <a href="https://www.minagricultura.gov.co/Normatividad/Paginas/Decreto-1071-
        2015/Decreto-1071-de-2015.aspx">Conocer más</a> </center></span>
    </div-->

  <ion-footer-bar align-title="left" class="bar-stable">
        <div class="footerInitTerminosLeft">
          <img class="footerInitTerminosLeftImg" src="img/logo_min.png"/>
        </div>
        <div class="footerInitTerminosCenter">
          <img class="footerInitTerminosCenterImg" src="img/logo2.jpg"/>
        </div>
        <div class="footerInitTerminosRight">
          <img class="footerInitTerminosRightImg" src="img/lema.jpg"/>
        </div>
  </ion-footer-bar>

</ion-view>