<ion-view class="startFont">
  <ion-content>

    <div class="startImage"></div>
    
    <p class="startText">
     La herramienta de MinAgricultura que pone a su alcance toda la informaci&oacute;n relacionada con precios de insumos agropecuarios.
    </p>

    <div class="startPaddingButton">
      <a href="#/home" class="button button-full button-balanced ">Ingresar</a>
    </div>

  <center 
      class="textLogin textColorLogin startText" 
      ng-click="goToTerminos()">
        <b ><u>Ver Terminos y condiciones </u></b>
  </center>
<center 
      class="textLogin textColorLogin startText" 
      ng-click="goToPoliticasPrivacidad()">
        <b ><u>Ver Politica de privacidad </u></b>
  </center>


  </ion-content>
 
<!--   <div class="launchsInsumo">
        <span class="small" align="center"><center>Los precios a continuación mostrados estan regidos por el Decreto 1071 de 2015. <a href="https://www.minagricultura.gov.co/Normatividad/Paginas/Decreto-1071-
        2015/Decreto-1071-de-2015.aspx">Conocer más</a> </center></span>
    </div> -->

  <div class="footerInit">      
    <div class="letterInit">Aplicacion desarrollada por:</div>
    <div class="logoImage"></div>       
  </div>
</ion-view>

