<ion-view class="startFont">
 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

    <div class="startImage"></div>
    <p class="startText">
      Términos y Condiciones
    </p>
    
    <p class="startText">
     El Ministerio de Agricultura y Desarrollo Rural dispone al público la aplicación Agroinsumos, como una herramienta que permite consultar los precios de venta de los principales insumos agropecuarios de Colombia y compararlos con el promedio nacional y departamental.
    </p>

    <!--div class="centerImgSplash">
      <img src="img/logo_min.png" alt="" height="50px;" width="180px;">
      <br>
      <img src="img/agronet.jpg" alt="" height="60px;" width="180px;"> 
      <br>
      <img src="img/gobierno.jpg" alt="" height="75px;" width="180px;">
      <br>
    </div>


    <div class="startPaddingButton">
      <a href="#/splash" class="button button-full button-balanced ">Aceptar</a>
    </div-->


  </center>
    

  </ion-content>
 
  <!--div class="launchsInsumo">
        <span class="small" align="center"><center>Los precios a continuación mostrados estan regidos por el Decreto 1071 de 2015. <a href="https://www.minagricultura.gov.co/Normatividad/Paginas/Decreto-1071-
        2015/Decreto-1071-de-2015.aspx">Conocer más</a> </center></span>
    </div-->

  <ion-footer-bar align-title="left" class="bar-stable">
        <div class="footerInitTerminosLeft">
          <img class="footerInitTerminosLeftImg" src="img/logo_min.png"/>
        </div>
        <div class="footerInitTerminosCenter">
          <img class="footerInitTerminosCenterImg" src="img/logo2.jpg"/>
        </div>
        <div class="footerInitTerminosRight">
          <img class="footerInitTerminosRightImg" src="img/lema.jpg"/>
        </div>
  </ion-footer-bar>


</ion-view>

























<!-- <ion-view view-title="" hide-back-button="false">

	<div class=" bar-header ">
		 <header class="header agroinsumos">
	          <div class="branding center" align="center">
	            <img src="img/logo_insumos.png" height="42" width="126">
	          </div>
	      </header>
	</div>


  	<ion-content >


     <p>
     </p>
      
    



  </ion-content>

</ion-view> -->