/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */go-back
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  z-index: 100; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'noto_serifbold_italic';
  src: url("../fonts/notoserif-bolditalic-webfont.eot");
  src: url("../fonts/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold';
  src: url("../fonts/notoserif-bold-webfont.eot");
  src: url("../fonts/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifitalic';
  src: url("../fonts/notoserif-italic-webfont.eot");
  src: url("../fonts/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifregular';
  src: url("../fonts/notoserif-regular-webfont.eot");
  src: url("../fonts/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-bold-webfont.eot");
  src: url("../fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntu-bold-webfont.svg#ubuntubold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.eot");
  src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype"), url("../fonts/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.eot");
  src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype"), url("../fonts/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-7iwtun");
  src: url("../fonts/icomoon.eot?-7iwtun#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?-7iwtun") format("truetype"), url("../fonts/icomoon.woff?-7iwtun") format("woff"), url("../fonts/icomoon.svg?-7iwtun#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: "\e600"; }

.icon-down:before {
  content: "\e601"; }

.icon-down_line:before {
  content: "\e602"; }

.icon-left:before {
  content: "\e603"; }

.icon-left_line:before {
  content: "\e604"; }

.icon-mail:before {
  content: "\e605"; }

.icon-phone:before {
  content: "\e606"; }

.icon-place:before {
  content: "\e607"; }

.icon-price:before {
  content: "\e608"; }

.icon-profile:before {
  content: "\e609"; }

.icon-right:before {
  content: "\e60a"; }

.icon-right_line:before {
  content: "\e60b"; }
.icon-search:before {
    content: "\e60c";
}

.icon-share:before {
  content: "\e60d"; }

.icon-star:before {
  content: "\e60e"; }

.icon-star_line_off:before {
  content: "\e60f"; }

.icon-star_line_on:before {
  content: "\e60e"; }

.icon-weight:before {
  content: "\e610"; }

* {
  box-sizing: border-box; }

body {
  color: #59595c;
  font-family: "noto_serifregular", serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased !important; }

h1, h2, h3 {
  font-family: "noto_serifbold", serif;
  -webkit-font-smoothing: antialiased !important; }

h4 {
  font-family: "ubuntubold" sans-serif;
  -webkit-font-smoothing: antialiased !important; }

h5 {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased !important; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 19px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

p {
  font-size: 17px;
  color: #59595c; }

a {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #a6a6a6;
  text-decoration: none;
  -webkit-font-smoothing: antialiased !important; }

label {
  font-size: 14px;
  color: #59595c;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 300; }

.small, .launch__content {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 200; }

.medium {
  font-size: 16px; }

.btn {
  position: relative;
  margin: 1em auto;
  width: 90%;
  height: 50px;
  display: block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  outline: none;
  white-space: nowrap;
  vertical-align: middle; }
  .btn.btn-medium {
    width: 200px;
    height: 37px; }
  .btn.btn-small {
    width: 120px;
    height: 37px; }
  .btn [class^="icon-"], .btn [class*=" icon-"] {
    color: white;
    font-size: 24px; }

.btn-primary {
  color: white; }
  .btn-primary.btn-plus-a, .btn-primary.btn-plus-b {
    position: relative; }
    .btn-primary.btn-plus-a:after, .btn-primary.btn-plus-b:after {
      content: '+';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      border-left: 1px solid #5e8b26;
      font-size: 26px;
      line-height: 48px; }
  .btn-primary.btn-plus-b {
    background: #d0ebaf;
    color: #5e8b26; }

.btn-green {
  background: #6abb06;
  border-color: #5e8b26;
  color: white; }
  .btn-green.btn-outline {
    background: white;
    color: #6abb06;
    border-color: #d0ebaf; }
    .btn-green.btn-outline [class^="icon-"], .btn-green.btn-outline [class*=' icon-'] {
      color: #6abb06; }

.btn-orange {
  background: #ff8400;
  border-color: #bf6402;
  color: white;
  line-height: 33px; }
  .btn-orange.margin-bottom {
    margin-bottom: 3rem; }
  .btn-orange.btn-outline {
    background: white;
    color: #ff8400;
    border-color: #bf6402; }
    .btn-orange.btn-outline [class^="icon-"], .btn-orange.btn-outline [class*=' icon-'] {
      color: #ff8400; }

.btn-purple {
  background: #b954f9;
  border-color: #73349b;
  color: white; }
  .btn-purple.btn-outline {
    background: white;
    color: #b954f9;
    border-color: #73349b; }
    .btn-purple.btn-outline [class^="icon-"], .btn-purple.btn-outline [class*=' icon-'] {
      color: #b954f9; }

.btn-blue {
  background: #5b9bfb;
  border-color: #3e7ad3;
  color: white; }
  .btn-blue.btn-outline {
    background: white;
    color: #5b9bfb;
    border-color: #3e7ad3; }
    .btn-blue.btn-outline [class^="icon-"], .btn-blue.btn-outline [class*=' icon-'] {
      color: #5b9bfb; }

.btn-icon-small {
  line-height: 10px; }
  .btn-icon-small:before {
    font-size: 10px;
    line-height: 18px; }

.btn-icon-left {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.btn-icon-right {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.select {
  position: relative;
  margin: 1em auto;
  width: 90%;
  border-radius: 4px; }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    height: 50px;
    width: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 2px;
    border: 1px solid #e8b037;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    text-align: center;
    outline: none;
    background: white;
    color: #BDBDBD;
    font-weight: 700; }
  .select span {
    position: absolute;
    z-index: 2;
    bottom: 14px;
    right: 0;
    margin-right: 15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    line-height: 10px; }
    .select span:before {
      font-size: 10px;
      color: #cd9b2e; }
  .select label {
    font-weight: 300; }
  .select.select-small {
    width: 130px; }
  .select .help-height, .select .block__content__btns-right .help-height--small, .block__content__btns-right .select .help-height--small {
    position: absolute;
    left: 100%; }
    .select .help-height:before, .select .block__content__btns-right .help-height--small:before, .block__content__btns-right .select .help-height--small:before {
      content: '';
      position: absolute;
      height: 45px;
      width: 1px;
      background-color: #e94748;
      top: -19px;
      left: -4px; }
  .select .help-border-radius {
    position: absolute;
    bottom: calc(45px + 1rem);
    right: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: #e94748; }
    .select .help-border-radius.bottom {
      bottom: -1.5rem; }
  .select .help-width {
    bottom: -1.5rem;
    right: -1rem;
    color: #e94748;
    font-family: "Ubuntu", sans-serif; }
  .select.to-left {
    margin-left: 0; }

.search__content {
  margin: 1em 0; }
  .search__content.margin-bottom {
    margin-bottom: 3rem; }

.search__input {
  margin-top: 75px;
  position: relative;
  width: 100%; }
  .search__input input[type="search"] {
    padding-left: 50px;
    width: 100%;
    height: 55px;
    border: none;
    border-top: 1px solid #cd9b2e;
    border-bottom: 1px solid #cd9b2e;
    box-sizing: border-box;
    font-family: "ubuntulight" sans-serif;
    font-size: 16px;
    outline: none; }
  .search__input.with-scroll .help-hight {
    position: absolute;
    left: 102%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    color: #e94748; }
    .search__input.with-scroll .help-hight:before {
      content: '';
      position: absolute;
      height: 38px;
      left: 0;
      width: 1px;
      background-color: #e94748;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .search__input-scroll input[type="search"] {
    height: 42px; }
  .search__input .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    line-height: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .search__input .icon:before {
      color: #a6a6a6;
      font-size: 20px; }
  .search__input .help-width {
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    color: #e94748; }
  .search__input .help-hight {
    position: absolute;
    left: 102%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    color: #e94748; }
    .search__input .help-hight:before {
      content: '';
      position: absolute;
      height: 50px;
      left: 0;
      width: 1px;
      background-color: #e94748;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

.search__results {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  list-style: none; }
  .search__results .result-item {
    position: relative;
    padding: 12px 8px;
    font-family: "ubuntulight" sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6; }
    .search__results .result-item .help-text {
      position: absolute;
      left: 100%;
      color: #e94748;
      width: 300px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-left: 1rem;
      font-size: 14px; }
  .search__results .result-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .search__results .result-icon.result-icon-image img {
      border-radius: 50%; }
    .search__results .result-icon.result-icon-letter {
      color: white;
      text-align: center;
      font-style: normal; }
      .search__results .result-icon.result-icon-letter span {
        line-height: 32px; }
      .search__results .result-icon.result-icon-letter.color-orange {
        background: #ff8400; }
      .search__results .result-icon.result-icon-letter.color-purple {
        background: #b954f9; }
      .search__results .result-icon.result-icon-letter.color-blue {
        background: #5b9bfb; }
  .search__results .result-text {
    padding-left: 50px; }
    .search__results .result-text.color-orange {
      color: #ff8400; }
    .search__results .result-text.color-purple {
      color: #b954f9; }
    .search__results .result-text.color-blue {
      color: #5b9bfb; }
  .search__results .result-next {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    line-height: 10px; }
    .search__results .result-next:before {
      font-size: 10px; }

.anchor {
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1rem;
  color: white; }
  .anchor [class^="icon-"]:before, .anchor [class*=" icon-"]:before {
    font-size: 12px; }
  .anchor__left {
    margin-right: 1em; }
  .anchor__right {
    margin-left: 1em; }

.nav-tabs {
  display: table;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  height: 50px;
  width: 100%;
  font-size: 0;
  list-style: none;
  overflow: auto; }
  .nav-tabs > li {
    position: relative;
    display: table-cell;
    height: 50px;
    background: #f2f2f2;
    border-right: 1px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s; }
    .nav-tabs > li:nth-last-child(1) {
      border-right: none; }
    .nav-tabs > li.color-green {
      border-bottom-color: #6abb06; }
      .nav-tabs > li.color-green:hover, .nav-tabs > li.color-green.active {
        background: #6abb06;
        border-bottom-color: #5e8b26; }
    .nav-tabs > li.color-blue {
      border-bottom-color: #5b9bfb; }
      .nav-tabs > li.color-blue:hover, .nav-tabs > li.color-blue.active {
        background: #5b9bfb;
        border-bottom-color: #3e7ad3; }
    .nav-tabs > li.color-purple {
      border-bottom-color: #b954f9; }
      .nav-tabs > li.color-purple:hover, .nav-tabs > li.color-purple.active {
        background: #b954f9;
        border-bottom-color: #73349b; }
    .nav-tabs > li.color-orange {
      border-bottom-color: #ff8400; }
      .nav-tabs > li.color-orange:hover, .nav-tabs > li.color-orange.active {
        background: #ff8400;
        border-bottom-color: #bf6402; }
    .nav-tabs > li.active a,
    .nav-tabs > li[class^="color-"]:hover a,
    .nav-tabs > li[class*=" color-"]:hover a {
      color: white;
      font-family: "ubuntubold" sans-serif; }
    .nav-tabs > li a {
      display: inline-block;
      padding: 0.5em 1em;
      height: 50px;
      width: 100%;
      box-sizing: border-box;
      color: #59595c;
      transition: all 0.5s; }
      .nav-tabs > li a:before {
        content: '';
        display: inline-block;
        margin-right: -0.25em;
        height: 100%;
        vertical-align: middle; }
      .nav-tabs > li a > span {
        display: inline-block;
        line-height: 14px;
        vertical-align: middle; }
  .nav-tabs > li:first-child:nth-last-child(1) {
    width: 100%; }
  .nav-tabs > li:first-child:nth-last-child(2),
  .nav-tabs > li:first-child:nth-last-child(2) ~ li {
    width: 50%; }
  .nav-tabs > li:first-child:nth-last-child(3),
  .nav-tabs > li:first-child:nth-last-child(3) ~ li {
    width: 33.3333%; }
  .nav-tabs > li:first-child:nth-last-child(4),
  .nav-tabs > li:first-child:nth-last-child(4) ~ li {
    width: 25%; }
  .nav-tabs.b-radius {
    border: 1px solid #6abb06;
    border-radius: 4px; }
    .nav-tabs.b-radius > li {
      background-color: white;
      border: none;
      border-right: 1px solid #6abb06; }
      .nav-tabs.b-radius > li:last-child {
        border-radius: 4px;
        border-right: none; }
      .nav-tabs.b-radius > li.active {
        background-color: #6abb06; }
        .nav-tabs.b-radius > li.active a {
          color: white;
          background-color: #6abb06; }
      .nav-tabs.b-radius > li a {
        color: #6abb06; }
  .nav-tabs.with-scroll {
    position: relative;
    height: 35px; }
    .nav-tabs.with-scroll > li, .nav-tabs.with-scroll a {
      height: 35px; }
  .nav-tabs.higher {
    height: 45px; }

.cont-help-hight {
  position: absolute;
  display: inline-block;
  left: 88%;
  top: 54px; }
  .cont-help-hight .help-hight {
    position: absolute;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    color: #e94748; }
    .cont-help-hight .help-hight:before {
      content: '';
      position: absolute;
      left: 0;
      height: 50px;
      width: 1px;
      background-color: #e94748;
      top: -12px; }
  .cont-help-hight.with-scroll {
    top: 294px; }
    .cont-help-hight.with-scroll .help-hight:before {
      height: 35px;
      top: -5px; }

.block {
  max-width: 920px;
  margin: auto;
  padding: 1rem 3rem 1rem 1rem;
  position: relative; }
  .block .padding {
    padding-left: 5rem; }
  .block__title {
    position: relative;
    padding-left: 2.5rem;
      padding-left-margin-bottom: 3rem;
    margin-bottom: 3rem; }
    .block__title:before {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: #6abb06;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .block__subtitle {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .block__content {
    position: relative;
    margin-bottom: 3rem; }
    .block__content:after {
      content: ' ';
      display: table;
      clear: both; }
    .block__content__title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0; }
    .block__content__subtitle {
      font-size: 1rem;
      color: #e94748;
      margin-bottom: 3rem; }
    .block__content__mini-title {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      color: #6abb06; }
      .block__content__mini-title span {
        color: #e94748;
        margin-left: 1rem;
        font-weight: 300;
        font-size: 1rem; }
    .block__content__btns-left,
    .block__content__btns-right {
      width: 46%; }
    .block__content__btns-left {
      float: left; }
    .block__content__btns-right {
      float: right;
      position: relative; }
      .block__content__btns-right .help-border-radius {
        position: absolute;
        top: -3rem;
        right: 0;
        color: #e94748; }
      .block__content__btns-right .help-width {
        position: absolute;
        right: 0;
        bottom: -2rem;
        color: #e94748; }
      .block__content__btns-right .help-height, .block__content__btns-right .help-height--small {
        position: absolute;
        left: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        margin-left: 0.3rem;
        padding-left: 0.3rem;
        color: #e94748; }
        .block__content__btns-right .help-height:before, .block__content__btns-right .help-height--small:before {
          content: '';
          position: absolute;
          height: 40px;
          left: 0;
          width: 1px;
          background-color: #e94748;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
        .block__content__btns-right .help-height--small:before {
          height: 35px; }
    .block__content.padd-right {
      padding-right: 3rem;
      max-width: 400px; }
    .block__content__cont-tag {
      position: absolute;
      margin-bottom: 2rem; }
      .block__content__cont-tag.ubuntu {
        font-family: "Ubuntu", sans-serif; }
      .block__content__cont-tag.bold {
        font-weight: 700; }
      .block__content__cont-tag.medium {
        font-size: 16px; }
      .block__content__cont-tag.small, .block__content__cont-tag.launch__content {
        font-size: 14px; }
      .block__content__cont-tag .description {
        color: #6ea391;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-weight: 300; }
      .block__content__cont-tag.normal p,
      .block__content__cont-tag.small p, .block__content__cont-tag.launch__content p {
        max-width: 300px; }
    .block__content__tag {
      color: #6ea391;
      margin-right: 1rem;
      position: absolute;
      right: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .block__content__tag:after {
        content: '';
        height: 2rem;
        position: absolute;
        width: 1px;
        background-color: #6ea391;
        right: -0.5rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
  .block .max-width {
    max-width: 420px; }

.cont-input-text.error {
  color: #e94748; }
  .cont-input-text.error input {
    border-color: #e94748; }
  .cont-input-text.error label {
    color: #e94748; }

.input-text, .text-area {
  border: 1px solid #e8b037;
  width: 90%;
  margin: 0.5rem auto;
  padding: 1em;
  display: block;
  height: 45px;
  border-radius: 4px;
  font-family: "ubuntulight" sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #59595c;
  outline: none; }
  .input-text__label {
    margin-left: 1rem; }

.text-area {
  height: auto; }
  .text-area__label {
    margin-left: 1rem; }

.app-colors {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin-bottom: 5rem; }
  .app-colors.main .app-colors__main-color {
    background-color: #6abb06; }
  .app-colors.main .app-colors__secondary-colors .one {
    background-color: #d0ebaf; }
  .app-colors.main .app-colors__secondary-colors .two {
    background-color: #5e8b26; }
  .app-colors.agro-te-conecta .app-colors__main-color {
    background-color: #21996c; }
  .app-colors.agro-te-conecta .app-colors__secondary-colors .one {
    background-color: #1c825c; }
  .app-colors.agro-te-conecta .app-colors__secondary-colors .two {
    background-color: #0e6042; }
  .app-colors.agro-insumos .app-colors__main-color {
    background-color: #e8b037; }
  .app-colors.agro-insumos .app-colors__secondary-colors .one {
    background-color: #cd9b2e; }
  .app-colors.agro-insumos .app-colors__secondary-colors .two {
    background-color: #a3791d; }
  .app-colors.agro-negocios .app-colors__main-color {
    background-color: #58b9fe; }
  .app-colors.agro-negocios .app-colors__secondary-colors .one {
    background-color: #47a1e1; }
  .app-colors.agro-negocios .app-colors__secondary-colors .two {
    background-color: #3280b8; }
  .app-colors__header {
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 3rem; }
    .app-colors__header:before {
      content: '';
      width: 30px;
      height: 30px;
      background-color: #6abb06;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .app-colors .padding {
    padding-left: 2.5rem; }
    .app-colors .padding .cont-color {
      margin-bottom: 3rem; }
  .app-colors__main-color {
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 300; }
  .app-colors__secondary-colors .one,
  .app-colors__secondary-colors .two {
    width: 50%;
    text-align: center;
    padding: 0.4rem;
    font-weight: 300; }
  .app-colors__secondary-colors .one {
    float: left;
    color: white; }
  .app-colors__secondary-colors .two {
    float: right;
    color: white; }
  .app-colors__secondary-colors:after {
    content: ' ';
    display: table;
    clear: both; }

.other-colors.main .other-colors__left__first, .other-colors.main .other-colors__right__first {
  background-color: #e94748; }

.other-colors.main .other-colors__left__second, .other-colors.main .other-colors__right__second {
  background-color: #c73233; }

.other-colors.main .other-colors__right__first {
  background-color: #59595c; }

.other-colors.main .other-colors__right__second {
  background-color: #a6a6a6; }

.other-colors.agro-insumos .other-colors__left__first, .other-colors.agro-insumos .other-colors__right__first {
  background-color: #d0ebaf; }

.other-colors.agro-insumos .other-colors__left__second, .other-colors.agro-insumos .other-colors__right__second {
  background-color: #5e8b26; }

.other-colors.agro-insumos .other-colors__right__first {
  background-color: #59595c; }

.other-colors.agro-insumos .other-colors__right__second {
  background-color: #a6a6a6; }

.other-colors.agro-negocios .other-colors__left__first, .other-colors.agro-negocios .other-colors__right__first {
  background-color: #d0ebaf; }

.other-colors.agro-negocios .other-colors__left__second, .other-colors.agro-negocios .other-colors__right__second {
  background-color: #5e8b26; }

.other-colors.agro-negocios .other-colors__right__first {
  background-color: #59595c; }

.other-colors.agro-negocios .other-colors__right__second {
  background-color: #a6a6a6; }

.other-colors:after {
  content: ' ';
  display: table;
  clear: both; }

.other-colors__left,
.other-colors__right {
  max-width: 400px;
  width: 46%; }

.other-colors__left {
  float: left; }
  .other-colors__left__first, .other-colors__right__first {
    text-align: center;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .other-colors__left__second, .other-colors__right__second {
    text-align: center;
    color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; }

.other-colors__right {
  float: right; }

.other-colors__item {
  float: left;
  width: 30%;
  margin-right: 5%; }
  .other-colors__item:last-of-type {
    margin-right: 0; }
  .other-colors__item__first,
  .other-colors__item__second {
    text-align: center;
    color: white; }
  .other-colors__item__first {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .other-colors__item__second {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; }
  .other-colors__item.purple .other-colors__item__first {
    background-color: #b954f9; }
  .other-colors__item.purple .other-colors__item__second {
    background-color: #73349b; }
  .other-colors__item.blue .other-colors__item__first {
    background-color: #5b9bfb; }
  .other-colors__item.blue .other-colors__item__second {
    background-color: #3e7ad3; }
  .other-colors__item.orange .other-colors__item__first {
    background-color: #ff8400; }
  .other-colors__item.orange .other-colors__item__second {
    background-color: #bf6402; }

.header {
  height: 60px;
  margin-bottom: 1rem;
  color: white;
  font-family: "Ubuntu", sans-serif;
  position: relative; }
  .header:after {
    content: ' ';
    display: table;
    clear: both; }
  .header.agroteconecta {
    background-color: #21996c; }
  .header.agroinsumos {
    background-color: #e8b037; }
  .header.agronegocios {
    background-color: #58b9fe; }
  .header.with-scroll {
    height: 45px; }
    .header.with-scroll .branding {
      padding: 4px 0; }
    .header.with-scroll .help-hight:before {
      height: 42px; }
    .header.with-scroll .profile__text,
    .header.with-scroll .profile__img,
    .header.with-scroll .profile__arrow {
      line-height: 46px; }
  .header .help-hight {
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    color: #e94748; }
    .header .help-hight:before {
      content: '';
      height: 56px;
      width: 1px;
      background-color: #e94748;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .header .help-width {
    position: absolute;
    bottom: -2rem;
    right: 0;
    color: #e94748; }
  .header .branding {
    float: left;
    padding: 7px 0; }
  .header .profile {
    float: right;
    height: 100%;
    position: relative; }
    .header .profile__text,
    .header .profile__img {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      line-height: 60px; }
    .header .profile__text {
      margin-right: 0.8rem; }
    .header .profile__img {
      position: relative;
      height: 28px;
      width: 28px;
      background: white;
      border-radius: 50%;
      text-align: center;
      margin-right: 32px;
      overflow: hidden;
      border: 1px solid #59595c; }
      .header .profile__img .icon-profile {
        position: absolute;
        color: #59595c;
        top: 50%;
        left: 50%;
        font-size: 24px;
        -webkit-transform: translate(-50%, -34%);
        transform: translate(-50%, -34%); }
    .header .profile__arrow {
      position: absolute;
      top: 0;
      right: 10px;
      line-height: 60px;
      font-size: 10px; }

.internal-title .small, .internal-title .launch__content {
  color: white; }

.internal-title:after {
  content: ' ';
  display: table;
  clear: both; }

.internal-title .left,
.internal-title .right {
  width: 46%; }

.internal-title .left {
  float: left; }

.internal-title .right {
  float: right; }

.internal-title__first,
.internal-title__second,
.internal-title__third {
  margin-bottom: 1rem; }
  .internal-title__first:after,
  .internal-title__second:after,
  .internal-title__third:after {
    content: ' ';
    display: table;
    clear: both; }

.internal-title__first {
  background-color: #e8b037; }

.internal-title__second {
  background-color: #58b9fe; }

.internal-title__third {
  background-color: #ff8400; }

.internal-title__header {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 60px;
  text-align: center;
  position: relative; }
  .internal-title__header.with-scroll {
    /*height: 45px;*/
    padding: 0.5rem; }
    .internal-title__header.with-scroll .help-hight:before {
      height: 40px; }
  .internal-title__header__text {
    display: inline-block;
    margin: 0;
    color: white; }
  .internal-title__header .go-back {
    float: left;
    position: absolute; }
    .internal-title__header .go-back:before {
      font-family: icomoon;
      font-size: 0.7rem;
      color: white; }
    .internal-title__header .go-back__icon {
      color: white; }
  .internal-title__header .add-favorite {
    float: right; }
    .internal-title__header .add-favorite__icon {
      color: white; }
      .internal-title__header .add-favorite__icon:before {
        content: "\e60e";
        font-family: icomoon;
        color: white;
        font-size: 0.8rem;
        margin-right: 1rem; }
  .internal-title__header .help-hight {
    position: absolute;
    left: 100%;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
    font-weight: 300;
    color: #e94748;
    font-size: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .internal-title__header .help-hight:before {
      content: ' ';
      height: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      background-color: #e94748;
      position: absolute;
      left: 0; }

.internal-title__body {
  background-color: #e8b037;
  padding: 1rem;
  color: white; }
  .internal-title__body__prof {
    margin: 0; }
    .internal-title__body__prof img,
    .internal-title__body__prof span {
      display: inline-block;
      vertical-align: middle; }
    .internal-title__body__prof img {
      width: 30px;
      background-color: white;
      border-radius: 50%; }
    .internal-title__body__prof span {
      font-weight: bold;
      color: white;
      margin-left: 0.5rem; }
  .internal-title__body__lastupgrade {
    display: block;
    font-weight: 300; }
  .internal-title__body__titles h4 {
    margin: 0; }

.articles {
  padding: 1rem; }
  .articles__first, .articles__second, .articles__third {
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; }
    .articles__first__header {
      position: relative;
      padding: 0.5rem; }
      .articles__first__header:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: #ff8400;
        bottom: 0;
        left: 0.5em; }
      .articles__first__header .coverage {
        font-size: 14px;
        color: #59595c; }
        .articles__first__header .coverage span {
          color: #a6a6a6; }
      .articles__first__header .validity {
        font-size: 14px;
        color: #59595c; }
        .articles__first__header .validity span {
          color: #a6a6a6; }
      .articles__first__header .link {
        font-size: 14px;
        color: #59595c; }
        .articles__first__header .link span {
          color: #a6a6a6; }
      .articles__first__header .help-size {
        position: absolute;
        right: -5rem;
        color: #e94748;
        top: 20%; }
        .articles__first__header .help-size:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -4px;
          width: 90px;
          height: 1px;
          background-color: #e94748; }
    .articles__first__body {
      position: relative;
      padding: 0.5rem; }
      .articles__first__body__text {
        margin-bottom: 2rem; }
      .articles__first__body .help-size {
        position: absolute;
        right: -5rem;
        color: #e94748;
        top: -2.2rem;
        text-align: right; }
        .articles__first__body .help-size:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -4px;
          width: 80px;
          height: 1px;
          background-color: #e94748; }
    .articles__first__footer {
      font-family: "Ubuntu", sans-serif;
      text-align: center; }
      .articles__first__footer__util {
        color: #59595c;
        position: relative; }
        .articles__first__footer__util .help-size {
          position: absolute;
          right: -5rem;
          font-size: 17px;
          top: -1.2rem;
          color: #e94748; }
          .articles__first__footer__util .help-size:before {
            content: '';
            position: absolute;
            bottom: -0.6rem;
            width: 80px;
            height: 1px;
            right: 0;
            background-color: #e94748; }
      .articles__first__footer__yes,
      .articles__first__footer__no {
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid;
        text-align: center;
        width: 80px;
        height: 80px;
        display: inline-block;
        background-color: inherit;
        border-radius: 50%; }
      .articles__first__footer__yes {
        color: #6abb06;
        margin-right: 1rem; }
      .articles__first__footer__no {
        color: #e94748; }
      .articles__first__footer__request-info {
        display: inline-block;
        margin-right: 0.3rem; }
      .articles__first__footer .anchor {
        color: #ff8400; }
        .articles__first__footer .anchor span {
          color: #ff8400; }
    .articles__first .dropdown-section .dropdown, .articles__second .dropdown-section .dropdown, .articles__third .dropdown-section .dropdown {
      color: #ff8400; }
  .articles__second {
    padding: 0.5rem; }
    .articles__second__header {
      position: relative;
      padding: 0.3rem 0.2rem 1rem; }
      .articles__second__header:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: #58b9fe;
        bottom: 0;
        left: 0; }
      .articles__second__header:after {
        content: ' ';
        display: table;
        clear: both; }
      .articles__second__header__share {
        float: left;
        margin: 0;
        color: #58b9fe; }
        .articles__second__header__share span {
          color: #58b9fe; }
      .articles__second__header__add-fav {
        float: right;
        margin: 0;
        color: #58b9fe; }
        .articles__second__header__add-fav span {
          color: #58b9fe; }
    .articles__second__body {
      font-family: "Ubuntu", sans-serif; }
      .articles__second__body__sale {
        position: relative; }
        .articles__second__body__sale .help-size {
          position: absolute;
          right: -5rem;
          color: #e94748;
          top: -1.8rem;
          text-align: right; }
          .articles__second__body__sale .help-size:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -4px;
            width: 90px;
            height: 1px;
            background-color: #e94748; }
      .articles__second__body__info-sale {
        display: table;
        width: 80%;
        margin-bottom: 1rem;
        position: relative; }
        .articles__second__body__info-sale .row {
          display: table-row; }
          .articles__second__body__info-sale .row .cell {
            display: table-cell;
            width: 50%; }
            .articles__second__body__info-sale .row .cell:first-child {
              text-align: left;
              color: #5b9bfb;
              font-weight: bold; }
            .articles__second__body__info-sale .row .cell:last-child {
              text-align: right; }
        .articles__second__body__info-sale .help-element {
          position: absolute;
          right: -9rem;
          color: #e94748;
          top: 0;
          text-align: right; }
          .articles__second__body__info-sale .help-element:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -4px;
            width: 90px;
            height: 1px;
            background-color: #e94748; }
      .articles__second__body__date {
        margin-bottom: 1rem;
        position: relative; }
        .articles__second__body__date__to,
        .articles__second__body__date__presentation,
        .articles__second__body__date__place {
          margin: 0 0 0.4rem 0;
          font-size: 16px; }
          .articles__second__body__date__to span,
          .articles__second__body__date__presentation span,
          .articles__second__body__date__place span {
            color: #5b9bfb;
            font-weight: bold; }
        .articles__second__body__date .help-size {
          position: absolute;
          right: -5rem;
          color: #e94748;
          top: 2.5rem;
          text-align: right; }
          .articles__second__body__date .help-size:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -4px;
            width: 90px;
            height: 1px;
            background-color: #e94748; }
      .articles__second__body .info-buyer {
        margin-bottom: 2rem;
        position: relative; }
        .articles__second__body .info-buyer__title {
          color: #5b9bfb; }
        .articles__second__body .info-buyer__name,
        .articles__second__body .info-buyer__phone,
        .articles__second__body .info-buyer__place,
        .articles__second__body .info-buyer__email {
          margin: 0 0 0.4rem 0.4rem;
          font-weight: normal;
          padding-left: 1.4rem;
          position: relative; }
          .articles__second__body .info-buyer__name:before,
          .articles__second__body .info-buyer__phone:before,
          .articles__second__body .info-buyer__place:before,
          .articles__second__body .info-buyer__email:before {
            color: #5b9bfb;
            font-size: 1.2rem;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0; }
        .articles__second__body .info-buyer__name:before {
          content: "\e609";
          font-family: icomoon; }
        .articles__second__body .info-buyer__phone:before {
          content: "\e606";
          font-family: icomoon; }
        .articles__second__body .info-buyer__place:before {
          content: "\e607";
          font-family: icomoon; }
        .articles__second__body .info-buyer__email:before {
          content: "\e605";
          font-family: icomoon; }
        .articles__second__body .info-buyer .help-element {
          position: absolute;
          right: -5rem;
          color: #e94748;
          top: 5.5rem;
          text-align: right; }
          .articles__second__body .info-buyer .help-element:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -4px;
            width: 90px;
            height: 1px;
            background-color: #e94748; }
  .articles__third__header {
    font-family: "Ubuntu", sans-serif;
    padding: 0.5rem; }
    .articles__third__header__cost {
      display: table;
      margin-bottom: 3rem;
      width: 100%;
      position: relative; }
      .articles__third__header__cost:before {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        height: 1px;
        width: 40px;
        background-color: #5b9bfb; }
      .articles__third__header__cost .national,
      .articles__third__header__cost .departmental {
        margin: 0;
        display: table-row; }
        .articles__third__header__cost .national span,
        .articles__third__header__cost .departmental span {
          display: table-cell; }
          .articles__third__header__cost .national span:first-child,
          .articles__third__header__cost .departmental span:first-child {
            width: 60%;
            font-size: 14px;
            position: relative;
            padding-left: 1rem; }
            .articles__third__header__cost .national span:first-child:before,
            .articles__third__header__cost .departmental span:first-child:before {
              content: "\e604";
              font-family: icomoon;
              position: absolute;
              left: 0;
              top: 6px;
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
              font-size: 0.7rem; }
          .articles__third__header__cost .national span:last-child,
          .articles__third__header__cost .departmental span:last-child {
            width: 40%; }
      .articles__third__header__cost .help-element {
        position: absolute;
        right: -5rem;
        color: #e94748;
        top: 0.6rem;
        text-align: right; }
        .articles__third__header__cost .help-element:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -4px;
          width: 90px;
          height: 1px;
          background-color: #e94748; }
      .articles__third__header__cost .help-size {
        position: absolute;
        right: -5rem;
        color: #e94748;
        top: 3.5rem;
        text-align: right; }
        .articles__third__header__cost .help-size:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -4px;
          width: 90px;
          height: 1px;
          background-color: #e94748; }
    .articles__third__header .cont-select {
      display: inline-block;
      width: 50%; }

.cont-agroteconecta, .cont-agronegocios {
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6; }
  .cont-agroteconecta__header {
    font-family: "Ubuntu", sans-serif; }
    .cont-agroteconecta__header__heady {
      color: #ff8400; }
      .cont-agroteconecta__header__heady .circle-n {
        background-color: #ff8400;
        color: white;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        line-height: 30px;
        margin-right: 0.5rem; }
  .cont-agroteconecta__text-body {
    font-size: 14px; }
  .cont-agroteconecta__footer {
    position: relative; }
    .cont-agroteconecta__footer:after {
      content: ' ';
      display: table;
      clear: both; }
    .cont-agroteconecta__footer .button {
      display: inline-block;
      margin: 0; }
    .cont-agroteconecta__footer .share {
      float: right;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #ff8400; }
      .cont-agroteconecta__footer .share span {
        color: #ff8400; }

.cont-agronegocios {
  padding-top: 1rem; }
  .cont-agronegocios__header {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 1rem; }
    .cont-agronegocios__header:after {
      content: ' ';
      display: table;
      clear: both; }
    .cont-agronegocios__header__info {
      float: left;
      width: 40%;
      padding-left: 40px; }
      .cont-agronegocios__header__info__over-title,
      .cont-agronegocios__header__info__title {
        margin: 0; }
      .cont-agronegocios__header__info__over-title {
        font-size: 14px; }
      .cont-agronegocios__header__info__title {
        color: #5b9bfb; }
      .cont-agronegocios__header__info .picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #f2f2f2;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
    .cont-agronegocios__header .to-corner {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700;
      font-size: 14px;
      color: #5b9bfb; }
  .cont-agronegocios__body {
    font-family: "Ubuntu", sans-serif; }
    .cont-agronegocios__body__life,
    .cont-agronegocios__body__range {
      margin: 0;
      padding-left: 3.2rem;
      position: relative; }
      .cont-agronegocios__body__life:before,
      .cont-agronegocios__body__range:before {
        font-family: icomoon;
        position: absolute;
        left: 1.4rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #a6a6a6; }
    .cont-agronegocios__body__life {
      margin-bottom: 0.5rem; }
      .cont-agronegocios__body__life:before {
        content: "\e600"; }
    .cont-agronegocios__body__range:before {
      content: "\e607"; }

.cont-agroinsumos {
  margin-top: 16px;
  margin-left: 14px;
  margin-right: 14px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
   }
  .cont-agroinsumos__header {
    position: relative;
    padding: 1rem;
    background-color: #e8b037;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .cont-agroinsumos__header__title {
      color: white;
      margin: 0; }
    .cont-agroinsumos__header [class^='icon-'], .cont-agroinsumos__header [class*=' icon-'] {
      position: absolute;
      top: 0;
      line-height: 55px;
      right: 15px; }
      .cont-agroinsumos__header [class^='icon-']:before, .cont-agroinsumos__header [class*=' icon-']:before {
        color: white; }
  .articles__third__header__cost {
    padding: 1rem 1rem 0.3rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .cont-agroinsumos .articles__third__header__cost {
    margin-bottom: 2rem; }
    .cont-agroinsumos .articles__third__header__cost:before {
      height: 0; }
  .cont-agroinsumos .main {
    color: #e8b037; }

.dropdown {
  position: relative;
  list-style: none;
  color: #b954f9;
  margin: 0;
  padding: 0;
  background: white; }
  .dropdown .text-block {
    margin-bottom: 1em; }
  .dropdown .text-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    line-height: 32px; }
  .dropdown .text-small {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    font-size: 14px; }
  .dropdown .text-small-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px; }
  .dropdown hr {
    border: none;
    padding: 0.5em 0;
    border-bottom: 1px solid #CBCCCD; }

.dropdown__tap.open .dropdown__title {
  padding: 15px 1.5em;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.dropdown__tap.open .dropdown__title:after {
  content: "\e602";
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.dropdown__tap.open .dropdown__content {
  border-top: none; }

.dropdown__title {
  position: relative;
  margin-top: -1px;
  padding: 14px 1.5em;
  border: 1px solid #CBCCCD;
  border-radius: 2px;
  color: currentColor;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s; }
  .dropdown__title.right:after {
    content: "\e602";
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .dropdown__title.bold {
    font-weight: 700; }
  .dropdown__title:after {
    content: "\e602";
    font-family: icomoon;
    font-size: 10px;
    top: 0;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    right: 15px; }

.dropdown__content {
  border: 1px solid #CBCCCD;
  padding: 0 1.5em 1em;
  font-size: 16px;
  color: #59595c; }

.launch {
  position: relative;
  width: 100%;
  text-align: center; }
  .launch.agroinsumos {
    height: 600px;
    padding-top: 105px;
    background: url("../img/launch_insumos.png") no-repeat center;
    background-size: cover; }
    .launch.agroinsumos .dropdown {
      color: #e8b037;
       }
  .launch.agroconecta {
    padding-top: 130px;
    background: url("../img/launch_conecta.png") no-repeat center;
    background-size: cover; }
    .launch.agroconecta .dropdown {
      color: #21996c; }
  .launch.agronegocios {
    padding-top: 80px;
    background: url("../img/launch_negocios.png") no-repeat center;
    background-size: cover; }
    .launch.agronegocios .dropdown {
      color: #58b9fe; }
  .launch .dropdown, .launch button {
    margin-top: 62px; }

.launch__content {
  margin-top: 57px;
  padding: 0.5em 0.5em;
  font-family: "ubuntulight" sans-serif;
  font-weight: 200;
  color: white; 
}

.launch__caption {
  margin-top: 92px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  box-sizing: border-box;
  width: 100%;
  color: white;
  /*line-height: 16px; */
}

.launch__footer {
  display: inline-block;
  height: 73px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: white;
  vertical-align: middle;
  line-height: 73px;
 }

.launch__footer .small{
  margin-right: 145px;
}
  .launch__footer:before {
    content: '';
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: middle; 
}
  .launch__footer .mincultura {
    line-height: 27px;
    vertical-align: text-bottom; }


.ng-valid{
  
}

.ng-invalid{
  
}    
   
